<div class="navbar bg-[#000000] top-0 z-50 pt-4 lg:mt-0 px-10">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-200 rounded-box w-52"
      >
        <li>
          <a href="#comparaison">Comparaison</a>
        </li>
        <li>
          <a href="#patrimoine">Patrimoine</a>
        </li>
        <li><a href="#innovation">Innovation</a></li>
        <li><a href="#cartographie">Cartographie</a></li>
        <li><a href="#about">À propos</a></li>
      </ul>
    </div>
    <a
      href="/"
      class="btn btn-ghost text-lg font-semibold font-lora text-white"
    >
      SAÉ 303
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-1 text-sm font-serif">
      <li>
        <a href="#comparaison" class="opacity-60 hover:opacity-100"
          >Comparaison</a
        >
      </li>
      <li>
        <a href="#patrimoine" class="opacity-60 hover:opacity-100">Patrimoine</a
        >
      </li>
      <li>
        <a href="#innovation" class="opacity-60 hover:opacity-100">Innovation</a
        >
      </li>
      <li>
        <a href="#cartographie" class="opacity-60 hover:opacity-100"
          >Cartographie</a
        >
      </li>
      <li>
        <a href="#about" class="opacity-60 hover:opacity-100">À propos</a>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <a
      href="#explore"
      class="btn bg-white text-black hover:bg-gray-200 btn-sm border-0"
      >Explorer</a
    >
  </div>
</div>
