<div
  class="navbar absolute top-0 z-50 pt-4 lg:mt-0 px-10 bg-gradient-to-b from-black/70 via-black/50 to-transparent"
>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-200 rounded-box w-52"
      >
        <li>
          <a href="/contexte">Contexte</a>
        </li>
        <li>
          <a href="/graphiques">Graphiques</a>
        </li>
        <li><a href="/sources-donnees">Sources de données</a></li>
      </ul>
    </div>
    <a
      href="/"
      class="btn btn-ghost text-lg font-semibold text-white"
      style="font-family: Georgia, serif;"
    >
      Défi Latitudes
    </a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-1 text-base font-serif">
      <li>
        <a href="/contexte" class="text-gray-300 hover:text-white">Contexte</a>
      </li>
      <li>
        <a href="/graphiques" class="text-gray-300 hover:text-white"
          >Graphiques</a
        >
      </li>
      <li>
        <a href="/sources-donnees" class="text-gray-300 hover:text-white"
          >Sources de données</a
        >
      </li>
    </ul>
  </div>
</div>
